@import "utilities/config";
@import "layout/index";
@import "components/index";
@import "pages/index";


/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ------------------------------------- */

body {
  font-family: 'Open Sans', sans-serif;
  color: #141414;
}

/* -------------------------------------
 * Usefull classes
 * ------------------------------------- */

.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}

.background-blue {
  background: $blue;
  color: white;
}