#footer {
  background: $x-dark-grey;
  padding: 30px 0;
  color: gainsboro;
  p {
    margin-top: 17px;
  }
  ul {
    margin-top: 10px;
  }
  a {
    color: gainsboro;
    font-size: 30px;
    letter-spacing: 20px;
    transition: color 0.5s ease;
    &:hover{
      color: red;
    }
  }
}