#banner {
  background-image: image-url('background.jpg');
  color: white;
  padding: 150px 0;
  background-size: cover;
  height: 650px;

  h1 {
    font-size: 50px;
    color: white;
  }
  #banner p {
    font-size: 25px;
    font-weight: 100;
  }
}

.card{
  padding: 10px;
  font-weight: 300;
  h2{
    font-size: 20px;
  }
}
