---
title: How to find us
---

<div class="bg-primary padded text-center">
  <h2>Our team</h2>
  <br>
  <ul class="list-inline">
    <li>
      <img src="http://placehold.it/200x200" class="img-circle" alt="">
      <h3>Paul</h3>
    </li>
    <li>
      <img src="http://placehold.it/200x200" class="img-circle" alt="">
      <h3>John</h3>
    </li>
    <li>
      <img src="http://placehold.it/200x200" class="img-circle" alt="">
      <h3>Ringo</h3>
    </li>
    <li>
      <img src="http://placehold.it/200x200" class="img-circle" alt="">
      <h3>Georges</h3>
    </li>
  </ul>
</div>

<div class="padded text-center">
  <h2>Contact us</h2>
  <h3><i class="fa fa-phone"></i> +33 6 42 42 42 42</h3>
  <h3><i class="fa fa-envelope"></i> <a href="mailto:contact@styl.us">contact@styl.us</a></h3>
</div>
